<form class="form">
    <label for="Title"></label>
    <input type="text" id="title">
    <label for="Content"></label>
    <input type="text" id="content">
    <label for="Author"></label>
    <input type="text" id="author">
    <button class="btn" type="submit"></button>
</form>

<script src="/js/profile.js"></script>