<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/form.css">
</head>
</head>
<form class="form">
    <label for="Title">Title of the Blog post</label>
    <input type="text" id="title">
    <label for="Content">Your post!</label>
    <input type="text" id="content">
    <label for="Author">Your name (optional)</label>
    <input type="text" id="author">
    <button class="btn" type="submit">Submit Post!</button>
</form>

<script src="/js/profile.js"></script>